.title { 
	font-size: 130%
	}
body {
	background-color: #1C1C17;
	text-align: center;
	text-justify: inter-word;
	text-align: center;
	color: #FCF8CC;
	font-family: verdana, sans-serif;
	font-size: 95%;
      /*padding-right: 60%;*/
	}
.hyperlink {
	color: F6D228;
	text-decoration: none;
	}
.content {
	line-height: 1.5;
	}

.mobile {
	width: 360px;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
}

.box {

}

.list {
	list-style-type: none;
	padding-left: 1%;
}

.special-list-item {
	list-style-type: square;
}
